html,body{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    background-color: #f3f3f3;
    overflow:hidden;
    position:relative;
    font-family: "STXihei", Times, Serif;
    color: #333333;
     /*-webkit-font-smoothing: antialiased;*/
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body * {
    max-height: 999999px;
    -webkit-text-size-adjust: none;
}
.container {
    width:1000px;
    margin:0 auto;
    position:relative;
    height:100%;
}
ul {
    overflow: hidden;
    list-style-type:none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
div {
    word-break: break-all;
    word-wrap: break-word;
}

.title {
    width: 100%;
    height: 114px;
    line-height: 114px;
    text-align: center;
    color: #fff;
    background-color: #91d4da;
    font-size: 50px;
    .back {
        position: absolute;
        left: 30px;
        line-height: 114px;
        height: 114px;
    }
}

.page {
    top: 114px;
    bottom: 0;
    overflow: auto;
    position: absolute;
    width: 100%;
    background-color: #f3f3f3;
    box-sizing: border-box;
}
.tip {
    width: 100%;
    background-color: #fff;

    li {
        width: 20%;
        height: 116px;
        line-height: 116px;
        text-align: center;
        font-size: 40px;
        display: inline-block;
        float: left;
    }
    .active {
        border-bottom: 6px solid #91d4da;

    }
}
.page-container {
    -webkit-overflow-scrolling: touch;
}

.top {
    background-color: #fff;
    .top_pic {
        width: 100%;
        height: 550px;
        border: none;
        background: url(./images/xiong_top.png);
        background-size: 100%;
    }
    .note {
        font-size: 0;
        padding: 45px;
        li {
            display: inline-block;
            width: 124px;
            margin-right: 70px;
            .pic {
                background: url(./images/note.png) no-repeat center;
                background-size: 50%;
                width: 124px;
                height: 124px;
                border-radius: 100%;
                background-color: #91d4da;
            }
            .text {
                font-size: 36px;
                margin-top: 40px;
                width: 100%;
                text-align: center;
            }
        }
        .none {
            margin: 0;
        }
    }
    .cols {
        margin: 0 30px;
        border-top: 1px solid #e5e5e5;
        padding: 36px 0;
        font-size: 0;

        .col {
            display: inline-block;
            text-align: center;
            width: 310px;
            border-right: 1px solid #e5e5e5;
            padding: 10px 0;

            .pic {
                width: 100%;
                height: 166px;
            }
            .pic_1 {
                background: url(./images/xiong_1.png) no-repeat center;
                background-size: 150px;
            }
            .pic_2 {
                background: url(./images/xiong_2.png) no-repeat center;
                background-size: 150px;
            }
            .pic_3 {
                background: url(./images/all.png) no-repeat center;
                background-size: 250px;
            }
            .text_1 {
                font-size: 50px;
                text-align: center;
                width: 100%;
                margin-top: 10px;
            }
            .text_2 {
                font-size: 30px;
                text-align: center;
                width: 100%;
                margin-top: 10px;
                color: #585858;
            }
        }
        .none {
            border: none;
        }
    }
}

.module_1 {
    margin-top: 30px;
    padding: 0 30px;
    background-color: #fff;
    font-size: 0;

    .tit{
        height: 116px;
        line-height: 116px;
        font-size: 50px;
        color: #676767;
        border-bottom: 1px solid #e5e5e5;
    }
    .rows {
        margin: 36px 0;
        .left {
            width: 240px;
            height: 224px;
            background: url(./images/xiong_1.png) no-repeat top;
            background-size: 340px;
            display: inline-block;
            border: 1px solid #fbb22f;
        }
        .right {
            display: inline-block;
            vertical-align: top;
            .col {
                display: inline-block;
                margin-left: 26px;
                background-color: #f8f8f8;
                height: 100px;
                width: 314px;
                line-height: 94px;
                margin-left: 24px;
                font-size: 30px;
                text-align: center;
            }
            .btm {
                margin-bottom: 24px;
            }
        }
    }
}

.module_3 {
    .border {
        border-bottom: 1px solid #e5e5e5;
    }
    .row {
        padding: 20px 30px;
        background-color: #fff;

        .left {
            display: inline-block;
            width: 280px;
            height: 200px;
            background: url(./images/xiong_1.png) no-repeat center;
            background-size: 200px;
            border: 1px solid #e5e5e5;
        }
        .right {
            display: inline-block;
            width: 600px;
            height: 200px;
            position: relative;
            float: right;

            .top {
                font-size: 44px;
                line-height: 60px;
            }
            .btm {
                font-size: 36px;
                bottom: 0;
                position: absolute;
                color: #c3c3c3;
            }
        }
        .ti {
            font-size: 44px;
            line-height: 80px;
            margin: 10px 0;
        }
        .imgs {
            .img {
                display: inline-block;
                width: 280px;
                height: 200px;
                background: url(./images/xiong_2.png) no-repeat center;
                background-size: 180px;
                margin-right: 10px;
                border: 1px solid #e5e5e5;
            }
        }
        .time {
            font-size: 36px;
            color: #c3c3c3;
            line-height: 80px;
        }
    }
}